html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

input[type=range].mySlider {
  width: 100%;
  margin: 6.15px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].mySlider:focus {
  outline: none;
}
input[type=range].mySlider::-webkit-slider-runnable-track {
  background: #969696;
  border: 3px solid #c8c8c8;
  border-radius: 1.3px;
  width: 100%;
  height: 9.7px;
  cursor: pointer;
}
input[type=range].mySlider::-webkit-slider-thumb {
  margin-top: -9.15px;
  width: 22px;
  height: 22px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].mySlider:focus::-webkit-slider-runnable-track {
  background: #b0b0b0;
}
input[type=range].mySlider::-moz-range-track {
  background: #969696;
  border: 3px solid #c8c8c8;
  border-radius: 1.3px;
  width: 100%;
  height: 9.7px;
  cursor: pointer;
}
input[type=range].mySlider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range].mySlider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 7.15px 0;
  color: transparent;
  width: 100%;
  height: 9.7px;
  cursor: pointer;
}
input[type=range].mySlider::-ms-fill-lower {
  background: #7d7d7d;
  border: 3px solid #c8c8c8;
  border-radius: 2.6px;
}
input[type=range].mySlider::-ms-fill-upper {
  background: #969696;
  border: 3px solid #c8c8c8;
  border-radius: 2.6px;
}
input[type=range].mySlider::-ms-thumb {
  width: 22px;
  height: 22px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].mySlider:focus::-ms-fill-lower {
  background: #969696;
}
input[type=range].mySlider:focus::-ms-fill-upper {
  background: #b0b0b0;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].mySlider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
